* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
background-color: #f5f5f5;

}

.gallery {
    display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, auto);

     justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 1200px;
    padding: 20px;
    gap: 20px;
}

.gallery img {
    cursor: pointer;
     width: 100%;
      height: auto;
       border-radius: 5px;
}

.gallery img:hover {
    transform: scale(1.05);
}

#lightbox {
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 80%;
    max-height: 80%;
}